// ---------------------------------------------------------
// Main
// ---------------------------------------------------------

@use 'libs';
@use 'layouts';
@use 'components' as c;
@use 'global' as *;
@use 'pages';

html,
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

