// ---------------------------------------------------------
// Components - BUTTONS
// ---------------------------------------------------------

@use '../global' as *;

.btn{
    padding:  rem(16) rem(20);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(12);
    width: fit-content;
    transition: all .2s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    color: color('secondary', 600);
    background-color: color('secondary', 100);
    &:hover,&:focus{
        background-color: color('primary', 100);
    }

    &.btn-primary{
        background-color: color('primary', 300);
        color: color('secondary', 100);
        &:hover,&:focus{
            background-color: color('primary', 700);
        }
    }
}