@use '../global' as *;


.search{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: color('secondary', 600);
    .row{
        justify-content: space-between;
    }
}
.tri-label{
    margin-right:1rem;
}

fieldset{
    border: 0;
    padding: 0;
    margin: 0;
}