@use '../global' as *;

.header{
    background-color: white;
    border-bottom: 1px solid color('secondary', 200);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 0;
    z-index: 50;
    .container{
        max-width: none;
    }
    nav{
        display: flex;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }
    ul{
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        // list-style: none;
        li{
            list-style: none;
            a{
                // text-decoration: none;
                color: color('secondary', 600);
                // font-weight: 600;
                transition: all .2s ease-in-out;
                font-size: 1.2rem;
                &:hover, &:focus{
                    color: color('primary', 500);
                }
            }
        }
    }
    .logo{
        font-size: 1.8rem;
        font-weight: 600;
        transition: all .2s ease-in-out;
        color: color('secondary', 800);
        text-decoration: none;
        &:hover, &:focus{
            color: color('secondary', 600);
        }
    }
}