@use '../global' as *;

html,body{
    color: color('secondary', 800);
    scroll-behavior: smooth;
}
hr{
    color: color('secondary', 100);
    height: 1px;
    opacity: 0.6;
}

.hidden{
    display: none;
}

.text-primary{
    color: color('primary', 600);
}

.text-primary-300{
    color: color('primary', 300);
}

.mb-4{
    margin-bottom: 1rem;
}